
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-image: url('http://maul.hawaii.edu/mli/wp-content/uploads/2014/04/UHMC-Header.jpg');
            background-size: cover;
            width: 100%;
            height: 100px;
        }
    </style>
  </head>
    
    <body>
